<?xml version="1.0" encoding="UTF-8"?>
<web-app
version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>HotelBookingSystem</display-name>
    <servlet>
        <description/>
        <display-name>Controller</display-name>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.alexnevsky.hotel.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.alexnevsky.hotel.webapp.Config</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-env-ref>
        <resource-env-ref-name>jdbc/javabase</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.alexnevsky.hotel.filters.AccessFilter</filter-class>
        <init-param>
            <param-name>securedArea</param-name>
            <param-value>(.)*/jsp/(.)*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.alexnevsky.hotel.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>acceptEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/html/error-pages/servlet-exception.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/html/error-pages/error404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/html/error-pages/error500.html</location>
    </error-page>
    <context-param>
        <param-name>database.name</param-name>
        <param-value>Hotel.jndi</param-value>
    </context-param>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>WEB-INF/log4j.xml</param-value>
    </context-param>
</web-app>
